@import "tailwindcss";

@font-face {
	font-family: "Nohemi";
	src: url("/fonts/Nohemi-Bold.woff2") format("woff2"),
		url("/fonts/Nohemi-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@keyframes float-y {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-14px);
	}
}

.animate-float-y {
	animation: float-y 2s ease-in-out infinite;
}